@media (min-width: 967px) {
  .container {
    display: flex;
    flex-direction: row;
    height: 310px;

    .container-image {
      border-top-right-radius: 0;
      border-bottom-left-radius: 1rem;
      height: 100%;
      width: 36%;
      background-position: left;
    }

    .container-info {
      position: relative;
      width: 64%;
      padding: 3rem;
      gap: 1.2rem;
      h3 {
        font-size: 23px;
      }

      p {
        line-height: 1.5rem;
      }
    }
  }

  .social-section {
    display: flex;
    justify-content: space-between;
    padding-top: unset;
    padding-bottom: unset;
    margin-bottom: unset;
    height: unset;
  }

  .share-modal {
    position: absolute;
    top: 50%;
    left: 60%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    height: 50px;
  }
  .remove-icon {
    display: none;
  }
}
