
.share-modal{
    background-color: $Very-Dark-Grayish-Blue;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: $Grayis-Blue;
    letter-spacing: 0.4rem;
    position: relative;
    bottom: 82px;
    height: 75px;
    margin-bottom: -90px;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;
    
}
.social-section-icon{
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-left: 1.3rem;
    padding-right: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: $Desaturated-Dark-Blue;
}


