.social-section{
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: -30px;
    height: 75px;
    cursor: pointer;

    .social-image{
        background-image: url(../images/avatar-michelle.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .social-section-icon{
        height: 10px;
        width: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 1.1rem;
        background-color: $Light-Grayish-Blue;
    }
}
.position-arrow{
    display: flex;
    margin-left: auto;
    
}






